# Dependencies
node_modules/
.pnpm-store/
.yarn/

# Production build outputs
dist/
build/
out/

# Environment variables (keeps credentials secret)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite / Tooling caches
.vite/
.cache/
.parcel-cache/
.eslintcache

# Editor & System files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage/